{:project         hello-world
 :version         "0.0.1-SNAPSHOT"
 :dependencies    [[tailrecursion/boot.core   "1.2.3"]
                   [tailrecursion/boot.task   "1.0.2"]
                   [tailrecursion/hoplon      "4.0.10"]                  
                   [org.clojure/clojurescript "0.0-2138"]
                   [ring                      "1.2.0"]
                   ;[markdown-clj              "0.9.38"]
                   ]
 :require-tasks   #{[tailrecursion.boot.task    :refer :all]
                    [tailrecursion.hoplon.boot  :refer :all]}
 :public          "resources/public"
 :src-paths       #{"src"}
 :src-static      #{"resources/assets"}
 :tasks           {:war {:doc       "Build project war file."
                         :src-paths #{"resources"}
                         :lein      {:plugins [[lein-ring "0.8.7"]]
                                     :war-resources-path "public"
                                     :ring {:handler hello-world.core/app}}
                         :main      [:do
                                     [:hoplon {:optimizations :advanced}]
                                     [:lein "ring" "uberwar" "hello-world.war"]]}
                   :dev {:doc       "Open repl in project 'hello-world.core ns."
                         :main      [:repl hello-world.core]}}}
